@model IEnumerable<TitleOfPage>

<h2 class="p-2 bg-primary text-white text-center">Title of Page</h2>

<div class="container-fluid mt-3 bt">

    <div class="row p-2 mb-3 rounded-2 border border-1 border-primary">

        <form asp-action="AddTitleOfPage" method="post">

            <div class="col-12 fw-bold pb-2 pt-3">PageNumber</div>
            <div class="col-12"><input name="PageNumber" class="form-control" /></div>

            <div class="col-12 fw-bold pb-2 pt-3">Title</div>
            <div class="col-12"><input name="Title" class="form-control" /></div>

            <div class="col-12 fw-bold pb-2 pt-3">Description</div>
            <div class="col-12"><input name="Description" class="form-control" /></div>

            <div class="col-12"></div>
            <div class="col-12 m-3 text-center"><button type="submit" class="btn btn-primary ">Add</button></div>

        </form>

    </div>

    @*<div>
            <div class="row placeholder">
                <div class="col text-center p-2 fs-3 text-primary">No Data</div>
            </div>

            @foreach (TitleOfPage t in Model)
            {
                <div class="row p-2 mb-2 rounded-2 border border-2 border-success">

                    <div class="col-12 fw-bold pb-2 pt-3">TitleOfPageId</div>
                    <div class="col-12">@t.TitleOfPageId</div>

                    <div class="col-12 fw-bold pb-2 pt-3">PageNumber</div>
                    <div class="col-12">@t.PageNumber</div>

                    <div class="col-12 fw-bold pb-2 pt-3">Title</div>
                    <div class="col-12">@t.Title</div>

                    <div class="col-12 fw-bold pb-2 pt-3">Description</div>
                    <div class="col-12">@t.Description</div>

                </div>
            }
        </div>*@


    @if (Model.Count() == 0)
    {
        <div class="row">
            <div class="col text-center p-2 mt-3 fs-3 text-primary">No Data</div>
        </div>
    }
    else
    {
        @foreach (TitleOfPage t in Model)
        {
            <div class="row p-2 mb-2 rounded-2 border border-2 border-success">

                <div class="col-12 fw-bold pb-2 pt-3">TitleOfPageId</div>
                <div class="col-12">@t.TitleOfPageId</div>

                <div class="col-12 fw-bold pb-2 pt-3">PageNumber</div>
                <div class="col-12">@t.PageNumber</div>

                <div class="col-12 fw-bold pb-2 pt-3">Title</div>
                <div class="col-12">@t.Title</div>

                <div class="col-12 fw-bold pb-2 pt-3">Description</div>
                <div class="col-12">@t.Description</div>

            </div>
        }
    }

</div>

